@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #414f6b;
  font-family: Lato, sans-serif;
}

.slick-list{
  width: 850px;
  gap: 10px;
}
@media screen and (max-width: 412px) {
  .slick-list{
    width: 220px;
    gap: 10px;
  }
}
